* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 3rem auto;
    color: #010101;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    row-gap: 20px;
    column-gap: 10px;
    justify-content: center;
}

.post {
    width: 300px;
    background-color: #ddd;
    padding: 1rem 3rem;
    align-self: center;
}

.post h4 {
    font-size: 2rem;
}

.post p {
    font-size: 1.6rem;
}

.loading {
    height: 100vh;
    width: 100%;
    font-size: 4rem;
    align-self: center;
    justify-self: center;
}

.author {
    font-size: 2rem;
    font-weight: 700;
}